<%= form_for(@event, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :name, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class=>"control-label" %>
    <div class="controls">
      <%= f.date_select :start_at %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class=>"control-label" %>
    <div class="controls">
      <%= f.date_select :end_at %>
    </div>
  </div>
  <%= f.submit :class => :btn %>

<% end %>
