<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start at:</b>
  <%= l @event.start_at, :format => :short %>
</p>

<p>
  <b>End at:</b>
  <%= l @event.end_at, :format => :short %>
</p>

<p>
  <b>User:</b>
  <%= user_name(@event.user) %>
</p>



